## Step 01 Imports #

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns

## Step 02 Create Dataframe #

In [3]:
dt = pd.DataFrame({'ID':[1,2,3,4,5],
                  'Name':['Ali','Karishma','Arsal','Usman','Awais']})

In [4]:
dt

   ID      Name
0   1       Ali
1   2  Karishma
2   3     Arsal
3   4     Usman
4   5     Awais

## Step 03 Explore the data.

In [5]:
dt['ID']

0    1
1    2
2    3
3    4
4    5
Name: ID, dtype: int64

In [6]:
dt['Name']

0         Ali
1    Karishma
2       Arsal
3       Usman
4       Awais
Name: Name, dtype: object